* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  position: relative;
}

#playContainer, #ritualContainer {
  position: absolute;
}
#playContainer canvas, #ritualContainer canvas {
  position: absolute;
}

#debug {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  color: #fff;
}

